{% extends 'base.html.twig' %}

{% block body %}


    <div class="col-lg-12">
    <h2>Welcome</h2>
    {{ form_start(form) }}
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3>Yoy can upload the information on invoice</h3>
          </div>
          <div class="panel-body">
            <p> {{ form_row(form.invoiceDate) }} </p>
            <p> {{ form_row(form.invoiceNumber) }} </p>
            <p> {{ form_row(form.customerId) }} </p>
          </div>
        </div>

        <div class="col-sm-8 col-sm-offset-2" id="row_list" data-prototype="{{ form_widget(form.InvoiceRow.vars.prototype)|e('html_attr') }}">
            {% for row in form.InvoiceRow %}
            <div class="panel panel-warning">
                  <div class="panel-heading">
                    <strong>This is {{ row.vars.value.id }}° row, you can add,update and create newone !</strong>
                  </div>
                  <div class="panel-body">
                      {{ form_row(row) }}
                  </div>
              </div>
            {% endfor %}
        </div>
        <div class="clearfix"></div>
      <div class="row"> {{ form_row(form.save) }} </div>
    {{ form_end(form) }}
    </div>
    {% block javascripts %}
        {% javascripts '@AppBundle/Resources/public/js/*' %}
            <script src="{{ asset_url }}"></script>
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        {% endjavascripts %}
        {% endblock %}
{% endblock %}
