{% extends 'base.html.twig' %}

{% block body %}

<div class="container">

 {% for message in app.flashes('notice') %}
 <div class="alert alert-success" role="alert">  {{ message }} </div>
 {% endfor %}
 <h2>Invoices List</h2>
 <p> Crud operations of Invoices. Click on details to see all invoice rows. </p>
 <table class="table">
   <thead>
     <tr>
       <th>Invoice ID</th>
       <th>Invoice date</th>
       <th>Invoice number</th>
       <th>Customer ID </th>
       <th></th>
     </tr>
   </thead>
   <tbody>
   {% for invoice in invoices %}
     <tr>
       <th> {{ invoice.id}}  </th>
       <th> {{ invoice.invoicedate|date('F j, Y, g:i a')}} </th>
       <th> {{ invoice.invoicenumber }} </th>
       <th> {{ invoice.customerid }} </th>
       <th>
       <a href="/details/{{ invoice.id }}" class="btn btn-primary">Details</a>
       <a href="/delete/{{ invoice.id }}" class="btn btn-danger delete-invoice" data-id="{{ invoice.id }}">Delate</a>
       </th>
     </tr>
   {% endfor %}
   </tbody>
 </table>
</div>

{% endblock %}

{% block javascripts %} <script src="{{ asset('js/main.js') }}"></script> {% endblock %}
